# Begin Project
# Begin SubItem "GPCE3100_ROMCode  Resources"
# Begin Group "SPI_Resources_Folder"
#PROP Default_Filter=
USEPARAM=FALSE
PARAM=
EXPORT=3
SPECIFICFLAG=0
# Begin Source File
SOURCE=voice\didi.a18
USEPARAM=FALSE
PARAM=
ID=RES_DIDI_A18
EXPORT=3
SPECIFICFLAG=0
# End Source File
# End Group
# End SubItem
# End Project
